* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: "Times New Roman", Times, serif;
}
nav {
  background-color: #fff;
  height: 60px;
  width: 100%;
  box-shadow: 1px 1px 6 px 1px #ccc;
}
ul {
  display: flex;
  list-style: none;
  height: 60px;
  align-items: center;
  justify-content: center;
}
ul li a {
  color: rgb(10, 14, 12);
  padding: 15px 20px;
  text-decoration: none;
  margin: 1px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 7px;
}
ul li a:hover {
  color: blue;
  background-color: black;
}
section {
  height: 80%;
  width: 30%;
  background-color: white;
  margin: 10px auto;
}
img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
article {
  padding: 10px;
}
h1 {
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
p {
  display: flex;
  justify-content: center;
}
